@font-face {
  font-family: 'MinhaPrimeiraFonte';
  src: url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap') format('woff2'),
       url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap') format('woff');
  font-weight: normal;
  font-style: normal;
}
body{
    height: 900vh;
    background-color: #00435b
}
h1{
    text-align: center;
    color: #fff;
    padding-left: 130px;
}

nav.info{
    width: 300px;
    height: 100%;
    background-color: #fff;
    padding: 40px 0px 40px 1%;
    box-shadow: 3px 0 0 #00003f;

    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
}

.men-lateral{
    width: 100%;
    padding-left:10px ;

}
.men-lateral > i{
    color: #00bfff;
    font-size: 24px;
    cursor: pointer;
}
ul{
    height: 100%;
    list-style-type: none;

}
ul li.item-menu{
    transition: .2s;
}
ul li.item-menu:hover{
    background: #00003f;
}

.item-menu a{
    color: #00bfff;
    text-decoration: none;
    font-size: 20px;
    padding: 20px 4%;
    display: flex;
    margin-bottom: 10px;
    line-height: 40px;
}
.txt{
    margin-left: 40px;
}

.icon >i{
    font-size: 20px;
    margin-left: 0;

}
.lu{
    padding-left: 400px;
    line-height: 50px;
    color: #fff;
}
